.navbar{
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid lightgrey;
  margin: 10px 10px 10px;
  background-color: #1ABC9C;
}

.loginForm {
  border: 3px solid #f1f1f1;
  width: 324px;
  height: 459px;
  margin-left: 453px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.container {
  padding: 16px;
}

.emailInput , .pswdInput{
  width: 278px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.loginButton{
  background-color: #1ABC9C;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;

}
.signInButton, .signoutButton{
  background-color: #1ABC9C;
  color: white;
  padding: 14px 20px;
  border: none;
  margin-top: 21px;
  cursor: pointer;
}

.signoutButton {
  display: block;
  border-radius: 5px;
  float:right;
  padding:5px 20px;
  margin:11px 10px;
  border: 1px solid white !important;
}

.download-btn {
  padding: 5px 8px;
  width: 100%;
  margin: 4px;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.logo{
  margin-top: 16px;
  color: white;
  display: inline-block;
}

.links{
  display: inline-block;
  text-decoration: none;
  float: right;
  margin: 15px 5px;
  color:white;
}

.userImage{
  float: left;
  width: 42px;
  margin:5px;
}

.navContainer {
  margin: 0px 10px;
  float: left;
  width: 226px;
  border: 3px solid lightgrey;
  padding: 10px;
}

.friendsImage{
  width: 51px;
  margin-top: 10px;
}

.myEmail{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.color-green-text {
  color: #1ABC9C;
}

.trip {
  padding: 5px;
  border: none;
  width: 64%;
  margin-top: 20px;
  border-bottom: 2px solid #1ABC9C;
}

.navContainer>div>label {
  margin-top: 20px;
}

.searchingAdding {
  margin-top:20px;
}

.home{
  float: left;
  width: 796px;
  height: 522px;
  border: 3px solid lightgrey;
}

.writeExpense{
  align-items: center;
  padding-left: 58px;
  margin-top: 10px;
}



table {
  border-collapse: collapse;
  width: 97%;
  margin: 10px 10px 10px 10px;
}

.modal-body{
  width: 311px
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #1ABC9C;
  color: white;
}

.totalExpense{
  float: left;
  width: 195px;
  height: 522px;

  border: 3px solid lightgrey;
  margin-left: 10px;
}

.myExpenses{
  border: 3px solid lightgray;
  padding-left: 59px;
}

.trip-select-option {

  margin-top: 20px;
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 2px solid #1ABC9C;
}

.save-btn {
  background-color: #1ABC9C;
  color: white;
  padding: 14px 20px;
  border: none;
  margin-top: 21px;
  cursor: pointer;
}

.billGenerator {
  border: 3px solid #1ABC9C;
  width: 75%;
  margin: 20px auto;
  padding:20px;
}

.modal-body>label {
  float: left;
}

.input-box{
  float: right;
  display: inline-block;
}

.margin-from-top {
  margin-top: 15px;
}

.trip-title{
  margin-left: 250px;
}

/*---------------------------------------------------------*/

.navContainer {
  margin: 0px 10px;
  float: left;
  width: 226px;
  border: 3px solid lightgrey;
  padding: 10px;
}

.image-upload-div {
  margin-top: 20px;
}

.image-upload-div > input {
  margin-top: 10px;
}

.download-div{
  margin-top:20px;
}

.download-div > button {
  margin-top:5px;
}

.image-render {
  margin: 0;
  padding: 4px;
  max-height: 200px;
  overflow: auto;
}

.image-render>li {
  list-style-type: none;
}

.image-urls{
  width:100%;
}

.image-link{
  padding:2px;
  margin:2px;
}

.storage-downloads>a{
  display: block;
}

.expense {
  height: 200px;
  overflow: auto;
}

.expenseTable{
  overflow: auto;
}

.my-transactions {
  border: 2px solid #1ABC9C;
  padding: 5px;
  width: 90%;
  margin: 5px auto;
}
.my-transactions>p {
  margin: 5px 0;
  color:  cadetblue;
  font-weight: bold;
  font-size: 12px;
}

.clear-btn {
  padding: 5px 10px;
  border-radius: 5px;
}

.trip-name {
  text-transform: uppercase;
  color: cadetblue;
  font-weight: bold;
}

.submit-btn {
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  border-radius: 21px;
}

.loader{
  margin-top: 100px;
  margin-left: 550px;
  width: 300px;
  height: 300px;
}