.navbar{
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid lightgrey;
  margin: 10px 10px 10px;
  background-color: #1ABC9C;
}

.loginForm {
  border: 3px solid #f1f1f1;
  width: 324px;
  height: 459px;
  margin-left: 453px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.container {
  padding: 16px;
}

.emailInput , .pswdInput{
  width: 278px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.loginButton{
  background-color: #1ABC9C;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;

}
.signInButton{
  background-color: #1ABC9C;
  color: white;
  padding: 14px 20px;
  border: none;
  margin-top: 21px;
  cursor: pointer;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.logo{
  padding-left: 30px;
  margin-top: 10px;
  color: white;
  display: inline-block;
}

.userImage{
  float: right;
  width: 42px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navContainer {
  margin: 0px 10px;
  float: left;
  width: 226px;
  border: 3px solid lightgrey;
  padding: 10px;
}

.friendsImage{
  width: 51px;
  margin-top: 10px;
}

.myEmail{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.color-green-text {
  color: #1ABC9C;
}

.trip {
  padding: 5px;
  border: none;
  width: 64%;
  margin-top: 20px;
  border-bottom: 2px solid #1ABC9C;
}

.navContainer>div>label {
  margin-top: 20px;
}

.searchingAdding {
  margin-top:20px;
}

.home{
  float: left;
  width: 796px;
  height: 522px;
  border: 3px solid lightgrey;
}

.writeExpense{
  align-items: center;
  padding-left: 58px;
  margin-top: 10px;
}



table {
  border-collapse: collapse;
  width: 97%;
  margin: 10px 10px 10px 10px;
}

.modal-body{
  width: 311px
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #1ABC9C;
  color: white;
}

.totalExpense{
  float: left;
  width: 195px;
  height: 522px;

  border: 3px solid lightgrey;
  margin-left: 10px;
}

.myExpenses{
  border: 3px solid lightgray;
  padding-left: 59px;
}

.billGenerator {
  border: solid black;
  width: 75%;
  margin: 0 auto;
}

.modal-body>label {
  float: left;
}

.input-box{
  float: right;
  display: inline-block;
}

.margin-from-top {
  margin-top: 15px;
}

.trip-title{
  margin-left: 250px;
}

/*---------------------------------------------------------*/

.navContainer {
  margin: 0px 10px;
  float: left;
  width: 226px;
  border: 3px solid lightgrey;
  padding: 10px;
}

.image-upload-div {
  margin-top: 10px;
}

.image-render {
  margin: 0;
  padding: 4px;
  max-height: 200px;
  overflow: auto;
}

.image-render>li {
  list-style-type: none;
}

.image-urls{
  width:100%;
}

.image-link{
  padding:2px;
  margin:2px;
}

.storage-downloads>a{
  display: block;
}